.box{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    padding: 2%;
    justify-content: space-between;
    border: 10px solid transparent;
    border-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(171,175,199,1) 0%, rgba(42,70,215,1) 0%, rgba(9,22,91,1) 20%);
    border-image-width: 2px; /* Define a largura da borda (deve coincidir com a largura da borda definida acima) */
    border-image-slice: 1; /* Define a divisão do gradiente (neste caso, 1 significa que o gradiente cobre toda a borda) */

    color: #ffffff
}


.box p {
    width: 85%;
    text-align: justify;
    color: white;
    font-size: clamp(00.65rem, 1vw, 1.2rem);
    text-shadow: 2px 2px 4px #000000, -2px -2px 4px white;
}

.box button{
    display: flex;
    width: 100px;
    height: 50px;
  
    justify-content: center;
    align-items: center;

    text-decoration: none;
    cursor: pointer;
    border: 1px solid #0091FD;
    border-radius: 5px;
    background-color: #0091FD;
    color: #0091FD;
    color: #FFFFFF;
    transition: all 0.3s ease-out;
}

.box button:hover{
    transition: all  0.3s ease-in;
    color: #0091FD;
    background-color: #FFFFFF;

}